:root {
    --fs-sans: Verdana, Geneva, Tahoma, "Poppins", sans-serif;
  
    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;
  
    --fs-300: 0.727rem;
    --fs-400: 0.9275rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;
  
    --clr-violet: hsl(273.6,100%,50%);
    --clr-black: hsl(240, 96%, 1%);
    --clr-white: hsl(220, 20%, 98%);
    --clr-sea-blue: hsl(216, 75%, 72%);
}
  
.container {
    display: flex;
    flex-direction: row;
    background-color: var(--clr-violet);
    padding: 10px;
    border-radius: 20px;
    height: 100vh;
  }
  
  .container__flex {
    flex-direction: column;
  }
  
  .column {
    margin-top: 60px;
  }
  
  label {
    font-size: var(--fs-600);
    color: var(--clr-white);
    padding-bottom: 20px;
  }
  
  #profile {
    border-radius: 50%;
    width: 50%;
    height: 70px;
    background-color: var(--clr-white);
    padding-top: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin: 20px 50px 0 0;
    color: var(--clr-white);
    font-size: var(--fs-500);
    font-family: var(--fs-sans);
  }
  
  #name {
    font-size: var(--fs-600);
  }
  
  #email {
    font-size: var(--fs-300);
  }
  
  #navbar {
    background-color: var(--clr-violet);
    width: 30%;
  }
  
  .item {
    background-color: var(--clr-white);
    width: 100%;
    border-radius: 20px;
  }
  
  h1 {
    padding-left: 100px;
    font-size: var(--fs-900);
  }
  
  .logo {
    margin-top: 200px;
    font-weight: var(--fw-bold);
    font-size: var(--fs-800);
  }
  
  .add__flex {
    display: flex;
    flex-direction: row;
  }
  
  .add__task {
    position: absolute;
    width: 5%;
    border-radius: 50%;
    right: 200px;
    top: 80%;
  }
  
  p {
    position: absolute;
    width: 6%;
    border-radius: 50%;
    right: 100px;
    top: 80%;
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
  }
  
  a {
    text-decoration: none;
  }
  
  a:visited {
    color: var(--clr-white);
  }
label{
    color: black;
}