:root {
  --fs-sans: "Poppins", sans-serif;
  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;
  --fs-300: 0.727rem;
  --fs-400: 0.9275rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-800: 2rem;
  --fs-900: 2.5rem;
  --fs-950: 5.5rem;
  --clr-violet: hsla(263, 66%, 27%, 1);
  --clr-black: hsl(240, 96%, 1%);
  --clr-blue: hsl(220, 76%, 58%);
  --clr-sea-blue: hsl(216, 75%, 72%);
  --clr-white: hsl(220, 20%, 98%);
}

/* Mobile */
.container {
  position: relative;
  text-align: center;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: var(--clr-blue);
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: var(--clr-white);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav .logo {
  font-size: var(--fs-900);
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: var(--clr-violet);
  color: white;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  text-align: left;
  color: var(--clr-white);
  padding-left: 20px;
}

.bg-img {
  width: 100%;
  height: 50%;
}

h3 {
  text-align: center;
}

.container__flex {
  display: flex;
  flex-direction: column;
}

.container__flex img {
  width: 100%;
}

.item {
  background-color: var(--clr-violet);
  margin-bottom: 20px;
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

h4 {
  font-size: var(--fs-500);
}
h4,
p {
  padding: 0 20px;
  color: var(--clr-white);
}

.main-container {
  padding: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  display: grid;
  min-height: 200px;
  border-radius: 10px;
  transition: all 0.2s;
  grid-template-rows: 20px 50px 1fr 50px;
  box-shadow: 0px 6px 10px rgba(74, 70, 74, 0.414);
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.readMore,
.close,
.card div {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card div ul {
  display: flex;
  list-style: none;
}

.card div ul li {
  margin: 0 0.3rem;
  font-size: 1.1rem;
}

.desc {
  color: rgb(66, 59, 59);
}

.readMore::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.6);
}

.readMore:hover {
  color: #fff;
}

.readMore:hover::after {
  width: 100%;
}

.close {
  grid-row: 1/2;
  justify-self: end;
}

.card div {
  grid-row: 2/3;
  font-size: 30px;
}

.read-more {
  grid-row: 4/5;
  align-self: center;
}

.card1 {
  background: #3fbafe;
}

.card2 {
  background: #f7a976;
}

.card3 {
  background: #b69efe;
}

.card4 {
  background: #60efbc;
}

.card5 {
  background: #f588d8;
}

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

/* footer */
footer {
  background-color: var(--clr-violet);
  margin: 4px;
  color: var(--clr-white);
  padding: 10px;
}

span {
  text-align: center;
  padding: 5px 25px;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer li {
  list-style: none;
  padding-left: 10px;
}

footer a {
  color: var(--clr-white);
  text-decoration: none;
}

footer a:visited {
  text-decoration: none;
  color: var(--clr-white);
}

/* tablet */
@media (min-width: 648px) {
  span {
    padding: 10px 150px;
  }

  footer li {
    list-style: none;
    padding-left: 60px;
  }

  .top-left {
    font-size: var(--fs-900);
  }

  h3 {
    font-size: var(--fs-600);
  }
}

/* lg */
@media (min-width: 1024px) {
  body {
    /* background-color: red; */
  }

  .container__flex {
    flex-direction: row;
  }

  .item {
    flex-grow: 1;
    margin: 0 30px;
    width: 100%;
    height: 30%;
  }

  .item img {
    width: 100%;
    /* height: 50%; */
  }

  footer {
    text-align: left;
    padding: 30px;
  }

  span {
    padding: 10px 100px;
  }

  .top-left {
    margin-top: 70px;
    font-size: var(--fs-950);
    font-weight: var(--fw-bold);
  }
}
