*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  
  overflow-x: hidden;
  }
  
.container{
  width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.6),rgba(9,0,77,0.6)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
} nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    max-width: 200px; 
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    margin: 0 15px;
  }

  a {
    text-decoration: none;
    color: white; /* Adjust the color of your links */
    font-weight: bold;
    font-size: 19px;
  }
  

  .social-icons {
    margin-left: auto;
  }

  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
}
.hero-text {
  margin-left: 40px;
    text-align: center;
    color: #fff;
  }
  
  .hero-text h1 {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  
  .hero-text p {
    font-size: 38px;
    line-height: 40px;
  }
  .button {
    display: inline-block;
    margin: 40px;
    padding: 15px 30px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  

  /* Features Section */
  .features {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
  }
  
  .features h2 {
    text-align: center;
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .feature-item img {
    height: 430px;
    width: 430px;
    border-radius: 8px; 
    margin-bottom: 10px;
    flex: 1;
  }
  
  .feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .feature-content i {
    font-size: 24px;
    color: #3498db; 
    margin-bottom: 10px;
  }
  
  .feature-content p {
    font-size: 16px;
    color: #555;
  }
  .myitems{
    display: flex;
    flex-direction: row;
  }
  .hero-text {
    padding-top: 30px;
    text-align: left;
    color: #fff;
  }
  
  
  
  
  


/* Reviews Section */
.reviews {
  background-color: #f0f5fe;
  padding: 60px 0;
}

.reviews h2 {
  text-align: center;
  color: #0a41a5;
}

.customer-review {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.review-card {
  background-color: #ffffff;
  border: 1px solid #e1e9ef;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  text-align: left;
  max-width: 500px;
  transition: transform 0.3s;
}

.review-card:hover {
  transform: translateY(-5px);
}

.review-card p {
  color: #34495e;
}

.review-author {
  margin-top: 15px;
  font-style: italic;
  color: #6c7a89;
}


.container {
  background-color: #3498db;
  color: #fff;
}

/* Footer */
footer .logo{
  margin-right: 1200px;
   
 }

footer {
  background-color: #051b6b; /* Blue background color */
  color: #fff;
  padding: 40px 0;
  text-align: center;
  text-align: center;
display: flex; 
align-items: center;
}

/* Media queries for responsiveness */

@media only screen and (min-width: 767px) {
  nav {
      width: 100%;
    }


  
  
    ul {
      flex-direction: row;
    }
  
    li {
      margin: 0 8px;
    }
  footer {
    flex-direction: column; 
    text-align: left;
  }

  .social-icons {
    margin-left: 0;
    margin-top: 10px; 
  }
  .copyright{
      font-size: 15px;
  }
  
}

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column; 
    text-align: left;
  }
  .customer-review {
    flex-direction: column; 
    align-items: center;
  }
  .hero-text h1{
    font-size: 25px;
  }
  .hero-text p {
    font-size: 18px;
  }
 

  .review-card {
    max-width: 100%; 
  }
  

  .social-icons {
    margin-left: 0;
    margin-top: 10px; 
  }
  .copyright{
      font-size: 10px;
  }
  .customer-review,
.myitems {
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center;
}

.review-card,
.feature-item {
  max-width: 100%; 
}
}





  
  
    