<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BudgetApp | Income</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/expenses_style.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="topnav">
        <a href="/dashboard/{{user_id}}" class="active logo">Expenses</a>
        <div id="myLinks">
          <a href="#" class="logo">
            <div class="user-profile">
              <img
                src="{{ url_for('static', filename='images/MyPassportPicture.jpg') }}"
                alt=""
              />
              <span class="fname"> {{ first_name }}<br /> </span>
              <span class="email">{{ user_email }}</span>
            </div>
          </a>
          <a href="/dashboard/{{id}}"> Dashboard </a>

          <a href="/expenses/{{id}}"> Expenses </a>
          <a href="/income/{{id}}">Income</a>
          <a href="/summary/{{id}}">Summary</a>
          <a href="/setting">Settings</a>
          <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="navBar()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </header>
    <main>
      <div class="white" id="add__section">
        <section>
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul class="flash-messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}

          <form method="POST" action="/addincome/{{ id }}">
            <div class="AE__form">
              <label for="category">Category:</label>
              <!-- Dropdown for categories -->
              <select id="source" name="source" required>
                <option value="Allowance">Allowance</option>
                <option value="Bonus">Bonus</option>
                <option value="Investment">Investment</option>
                <option value="Lottery">Lottery</option>
                <option value="Salary">Salary</option>
                <option value="Tips">Tips</option>
                <option value="Family">Family</option>
                <option value="Others">Others</option>
              </select>
            </div>
            <div class="AE__form">
              <label for="expense">Amount:</label>
              <input
                type="number"
                id="expense"
                name="expense"
                placeholder="Amount"
              />
            </div>
            <div class="AE__form">
              <label for="date">Date:</label>
              <!-- Actual date input field -->
              <input type="date" id="date" name="date" required />
            </div>

            <button type="submit" id="btn">Submit</button>
          </form>
        </section>
      </div>
    </main>
    <script>
      // function for navbar
      const navBar = () => {
        let x = document.getElementById("myLinks");

        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      };
    </script>
  </body>
</html>
