
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Budget App | Dashboard</title>
        <link rel="stylesheet" href="../static/css/dashboard_style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <nav class="nav-bar">
            <ul >
                <li >
                    <a href="#" class="logo">
                        <div class="user-profile">
                            <img src="static/images/user-dp.jpg" alt=""/>
                            <span class="nav-item">
                            {{ User_First_Name }}<br>
                            </span>
                            <span class="email">{{ email }}</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('get_dashboard') }}">
                        <span class="nav-item menu">
                            Dashboard
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('expenses') }}">
                        <span class="nav-item menu">
                            Expenses
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('income') }}">
                          <span class="nav-item menu">
                              Income
                          </span>
                      </a>
                  </li>
                <li>
                    <a href="/summary/{{user_id}}">
                        <span class="nav-item menu">
                            Summary
                        </span>
                    </a>
                </li>
                <li>
                    <a href="setting">
                        <span class="nav-item menu">
                            Settings
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="nav-item menu">
                            Logout
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/{{user_id}}" class="applogo">
                        <span class="nav-item">
                            BudgetApp
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="expenses">
            <div class="title">
                <h3>Dashboard</h3>
            </div>
            <div class="dash intr">
                <h4>Hi, {{ User_First_Name }}</h4>
                <p>If you save you save you save you save</p>
            </div>
            <div class="dash cat">
                <div class="dash income">
                    <h6>Total Income</h6>
                    {% if Total_Income %}
                        <p>{{ Total_Income}}</p>
                    {% else %}
                        <p>$0</p>
                    {% endif %}
                </div>
                <div class="dash income">
                    <h6>Total Expenses</h6>
                    {% if Total_Expenses %}
                        <p>{{ Total_Expenses}}</p>
                    {% else %}
                        <p>$0</p>
                    {% endif %}
                </div>
                <div class="dash income">
                    <div>
                        <h6>Savings</h6>
                        {% if Percentage_Savings %}
                            <span>{{ Percentage_Savings }}</span>
                        {% else %}
                            <span>--%</span>
                        {% endif %}
                    </div>
                    {% if Savings %}
                        <p>{{ Savings }}</p>
                    {% else %}
                        <p>$0</p>
                    {% endif %}
                </div>
            </div>
            <div>
                <h4>Details</h4>
                <div class="dash budget b">
                    <div>
                        <h6>Budget</h6>
                    </div>
                    <div class="w3-container w3-blue w3-round" style="width:100%">25%</div>
                    <div class="expenses-cat">
                        <ul class="expenses-list">
                            <div>
                                <li>
                                    categories
                                </li>
                            </div>
                            <div>
                                <li>
                                    categories
                                </li>
                            </div>
                            <div>
                                <li>
                                    categories
                                </li>
                            </div>
                            <div>
                                <li>
                                    categories
                                </li>
                            </div>
                        </ul>
                    </div>
                    <a href="" class="view_more a">
                        <p class="view_more">View More</p>
                    </a>
                </div>
                <div class="dash budget">
                    <div>
                        <h6>Expenses</h6>
                    </div>
                    <div class="w3-container w3-blue w3-round" style="width:100%">
                        25%
                    </div>
                    <div class="w3-container w3-blue w3-round" style="width:100%">
                        25%
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>