<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Budget App | Dashboard</title>
        <link rel="stylesheet" href="dashboard_style.css">
        <link rel="stylesheet" href="expenses_style.css">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="#" class="logo">
                        <div class="user-profile">
                            <img src="user-dp.jpg" alt=""/>
                            <span class="nav-item">
                            {{ first_name }}<br>
                            </span>
                            <span class="email">{{ email }}</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="nav-item menu">
                            Dashboard
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/expense">
                        <span class="nav-item menu">
                            Expenses
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="nav-item menu">
                            Income
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="nav-item menu">
                            Summary
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="nav-item menu">
                            Settings
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="nav-item menu">
                            Logout
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="applogo">
                        <span class="nav-item">
                            BudgetApp
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="expenses">
            <div class="title">
                <h3>Dashboard</h3>
            </div>
            <div>
                <h4>Hi, {{ name }}</h4>
                <p>{{ motivation }}</p>
            </div>
            <div>
                <div>
                    <h6>Total Income</h6>
                    <p>{{ Total_Income}}</p>
                </div>
                <div>
                    <h6>Total Expenses</h6>
                    <p>{{ Total_Expenses }}</p>
                </div>
                <div>
                    <div>
                        <h6>Savings</h6>
                        <p>{{ Percentage_Saving }}</p>
                    </div>
                    <p>{{ Savings }}</p>
                </div>
            </div>
            <div>
                <h4>Details</h4>
                <div>
                    <div>
                        <h6>Budget</h6>
                    </div>
                    <div class="progress-bar">
                        {% for category in budget %}
                            <div class="category-{{ loop.index }}" style="width: {{ category.percentage }}%">{{ category.name }} ({{ category.percentage }}%)</div>
                        {% endfor %}
                    </div>
                    <a>
                        <p class="view_more">View More</p>
                    </a>
                </div>
                <div>
                    <div>
                        <h6>Expenses</h6>
                    </div>
                    <div class="progress-bar">
                        {% for category in expenses %}
                            <div class="category-{{ loop.index }}" style="width: {{ category.percentage }}%">{{ category.name }} ({{ category.percentage }}%)</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>