<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/expenses_style.css') }}">
</head>
<body>
  <nav class="nav-bar">
    <ul>
        <li>
            <a href="#" class="logo">
                <div class="user-profile">
                    <img src="static/images/MyPassportPicture.jpg" alt=""/>
                    <span class="nav-item">
                    {{ first_name }}<br>
                    </span>
                    <span class="email">{{ email }}</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="nav-item menu">
                    Dashboard
                </span>
            </a>
        </li>
        <li>
            <a href="/expenses/{{id}}">
                <span class="nav-item menu">
                    Expenses
                </span>
            </a>
        </li>
        <li>
            <a href="/income/{{id}}">
                <span class="nav-item menu">
                    Income
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="nav-item menu">
                    Summary
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="nav-item menu">
                    Settings
                </span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('logout') }}">
                <span class="nav-item menu">
                    Logout
                </span>
            </a>
        </li>
        <li>
            <a href="/dashboard" class="applogo">
                <span class="nav-item">
                    BudgetApp
                </span>
            </a>
        </li>
    </ul>
</nav>
<section>
  <div class="white" id="add__section">
    <div class="title">
        <h2>Incomes</h2>
    </div>
    <ul>
      {% for entry in entries %}
      <li id="entries">
        <strong>Source: </strong>{{ entry[2] }} <br>
        <strong>Amount: </strong>{{ entry[3] }} <br>
        <strong>Date: </strong>{{ entry[4] }}</li>
        {% endfor %}
      </ul>
      <a href="/addincome/{{id}}">
        <div class="button-container">    
          
          <button type="submit" class="custom-button">Add Income</button>
        </div>
      </a>
    </div>
  </div>
    </section>
</body>
</html>