<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budget App | Expense</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Jomhuria' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/expenses_style.css') }}">
  </head>
  <body>
    <div class="container">
      <nav class="nav-bar">
            <ul>
                <li>
                    <a href="#" class="logo">
                        <div class="user-profile">
                            <img src="{{ url_for('static', filename='images/MyPassportPicture.jpg') }}" alt=""/>
                            <span class="nav-item">
                                {{ first_name}}<br>
                            </span>
                            <span class="email">{{ user_email }}</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/{{id}}">
                        <span class="nav-item menu">
                            Dashboard
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/expenses/{{id}}">
                        <span class="nav-item menu">
                            Expenses
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/income/{{id}}">
                        <span class="nav-item menu">
                            Income
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/summary/{{id}}">
                        <span class="nav-item active">
                            Summary
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/settings/{{id}}">
                        <span class="nav-item menu">
                            Settings
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        <span class="nav-item menu">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <section>
            
            <div class="white" id="add__section">
              <div class="title">
                <h2>Summary</h2>
                <form method="POST" action="/summary/{{ id }}">
                    <label for="month">Month:</label>
                    <select id="month" name="month" required>
                        {% for month in ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}
                            <option value="{{ month }}" {% if month == selected_month %}selected{% endif %}>{{ month }}</option>
                        {% endfor %}
                    </select>
                    
                    <button type="submit">Submit</button>
                </form>
              </div>
              <ul>
                {% for entry in entries %}
                <li id="entries">
                  <strong>Category: </strong>{{ entry[2] }} <br>
                  <strong>Amount: </strong>${{ entry[3] }} <br>
                  <strong>Date: </strong>{{ entry[4] }}</li>
                  {% endfor %}
                </ul>
                <ul>
                    {% for income in incomes %}
                    <li id="entries">
                      <strong>Category: </strong>{{ income[2] }} <br>
                      <strong>Amount: </strong>${{ income[3] }} <br>
                      <strong>Date: </strong>{{ income[4] }}</li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
            
        </div>
          </section>
      </body>
      </html>
